.actions {
  width: $desktop-content;
  margin: 0 auto;
  padding: 120px 0;

  @include vp-1199 {
    width: auto;
    margin: 0 $tablet-margin-asade;
    padding: 95px 0 101px;
  }

  @include vp-767 {
    padding: 61px 0 70px;
    margin: 0 $mobile-margin-asade;
  }

  h2 {
    font-family: $ff-bebas-neue;
    font-weight: 700;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    margin: 0;
    text-align: center;

    @include vp-1199 {
      font-size: 42px;
    }

    @include vp-767 {
      font-size: 32px;
    }
  }
}

.actions__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin-top: 49px;

  @include vp-1199 {
    display: block;
    margin-top: 37px;
  }

  @include vp-767 {
    margin-top: 34px;
  }
}

.actions__basic-action {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1199 {
    grid-template-columns: 1fr auto;
    min-width: auto;
  }

  @include vp-767 {
    display: block;
  }

  img {
    display: block;
    width: 280px;
    height: 462px;
    background-color: rgb(50, 98, 202);

    @include vp-1199 {
      width: 399px;
      height: 462px;
    }

    @include vp-767 {
      width: 100%;
      height: 299px;
      object-fit: cover;
      object-position: 100% 0%;
    }
  }
}

.actions__price {
  padding: 34px 45px 45px;
  background-color: $color-torch-red;
  display: flex;
  flex-direction: column;

  @include vp-767 {
    min-height: 299px;
    padding: 34px 20px 45px 20px;
  }

  p {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 156%;
    color: $color-default-white;

    @include vp-1199 {
      text-align: left;
    }

    @include vp-767 {
      text-align: center;
    }

    span {
      font-weight: 700;
      font-size: 70px;
      line-height: 100%;
      margin-top: -6px;

      @include vp-1199 {
        text-align: left;
      }

      @include vp-767 {
        text-align: center;
      }
    }
  }

  span {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: $color-default-white;
    margin-top: 10px;
    margin-bottom: 10px;

    @include vp-1199 {
      text-align: left;
      margin-top: 10px;
    }

    @include vp-767 {
      text-align: center;
      margin-top: 3px;
    }
  }

  a {
    width: fit-content;
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-default-white;
    border-bottom: 1px solid $color-default-white;
    margin-bottom: 0;
    margin-top: auto;

    @include vp-767 {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      color: $color-resolution-blue;
      border-bottom: 1px solid $color-resolution-blue;
    }
  }
}

.actions__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
  }

  @include vp-767 {
    display: block;
  }
}

.actions__item {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 7px;
  border-image: linear-gradient(120deg, rgba(209, 10, 66, 1), rgba(0, 53, 159, 1));
  border-image-slice: 1;
  padding: 25px 28px 27px;
  margin-top: 40px;
  min-height: 211px;

  @include vp-1199 {
    margin-top: 0;
    padding-bottom: 27px;
  }

  @include vp-767 {
    margin-top: 30px;
    padding: 36px 30px 38px;
  }

  &:first-of-type {
    margin-top: 0;
  }

  h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    color: $color-resolution-blue;
    margin: 0;

    @include vp-767 {
      text-align: center;
    }
  }

  p {
    font-size: 16px;
    line-height: 140%;
    color: $color-resolution-blue;
    margin: 9px 0 10px 0;

    @include vp-767 {
      text-align: center;
    }
  }

  a {
    width: fit-content;
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-resolution-blue;
    border-bottom: 1px solid $color-resolution-blue;
    margin-bottom: 0;
    margin-top: auto;

    @include vp-1199 {
      padding-bottom: 2px;
    }

    @include vp-767 {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover,
    &:active {
      color: $color-venetian-red;
      border-bottom: 1px solid $color-venetian-red;
    }
  }
}
