.contacts {
  padding: 70px 30px 70px 120px;

  @include vp-1279 {
    padding-right: $desktop-margin-asade;
    padding-left: $desktop-margin-asade;
  }

  @include vp-1023 {
    padding: 70px 0;
    width: 472px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: auto;
    margin: 0 $mobile-margin-asade;
  }

  h2 {
    font-family: $ff-bebas-neue;
    font-size: 49px;
    line-height: 100%;
    letter-spacing: 0.03em;
    margin: 0;

    @include vp-1023 {
      font-size: 42px;
    }

    @include vp-767 {
      font-size: 32px;
    }
  }
}

.contacts__information-wrapper {
  display: grid;
  grid-template-columns: 234px 1fr;
  margin-top: 57px;

  @include vp-1023 {
    margin-top: 50px;
    grid-template-columns: 267px 1fr;
  }

  @include vp-767 {
    display: block;
  }
}

.contacts__list {
  margin: 0;
  list-style: none;
  padding: 0;

  &--first-col {
    border-right: 1px solid #74819C;
    box-sizing: border-box;

    @include vp-767 {
      border: none;
    }
  }

  &--second-col {
    margin-left: 60px;

    @include vp-1023 {
      margin-left: 48px;
    }

    @include vp-767 {
      margin-left: 0;
    }
  }
}

.contacts__item {
  margin-top: 30px;

  @include vp-1023 {
    margin-top: 35px;
  }

  &:first-of-type {
    margin-top: 0;

    @include vp-767 {
      margin-top: 35px;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin: 0;

    @include vp-1023 {
      font-size: 20px;
    }
  }

  p {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    margin-top: 15px;

    @include vp-1023 {
      font-size: 18px;
      line-height: 152%;
    }
  }
}
