.reviews {
  margin: 0 auto;
  margin-bottom: 121px;
  width: 680px;

  @include vp-1199 {
    width: 686px;
    margin-bottom: 100px;
  }

  @include vp-767 {
    width: auto;
    margin: 0 $mobile-margin-asade;
    margin-bottom: 70px;
  }

  h2 {
    font-family: $ff-bebas-neue;
    font-weight: 700;
    font-size: 49px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0;

    @include vp-1199 {
      font-size: 42px;
    }

    @include vp-767 {
      font-size: 32px;
    }
  }
}

.reviews__slider-wrapper {
  width: 560px;
  margin-top: 50px;

  @include vp-1199 {
    margin-top: 40px;
  }

  @include vp-767 {
    margin-top: 42px;
  }
}

.reviews__card {
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 28px;
  width: 560px;
  min-height: 242px;
  box-sizing: border-box;
  padding: 54px 62px;
  background-color: $color-resolution-blue;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  margin: 0 auto;

  @include vp-1199 {
    width: 566px;
    padding-left: 65px;
  }

  @include vp-767 {
    min-height: 335px;
    grid-template-columns: 1fr 1fr;
    width: auto;
    column-gap: 9px;
    padding: 40px 23px 20px 23px;
    margin: 0 32px;
  }

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: $color-default-white;

    @include vp-767 {
      line-height: 130%;
      margin-left: 6px;
      margin-top: 8px;
    }
  }

  p {
    margin: 0;
    margin-top: 9px;
    font-size: 16px;
    line-height: 140%;
    color: $color-default-white;
    grid-column: 2 / 3;

    @include vp-767 {
      margin-top: 1px;
      grid-column: 1 / 3;
      text-align: center;
    }
  }
}

.reviews__img-wrapper {
  grid-row: 1 / 3;
  margin-top: 8px;

  @include vp-767 {
    grid-row: 1 / 2;
    margin-top: 0;
  }

  img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $color-spindle-grey;

    @include vp-767 {
      width: 68px;
      height: 68px;
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.reviews__button {
  background-color: transparent;
  border: none;
  width: 17px;
  height: 32px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 60%;
  z-index: 10;

  @include vp-1199 {
    top: 58%;
  }

  @include vp-767 {
    top: 57%;
    width: 10px;
    height: 19px;
  }

  &--back {
    background-image: url("../img/svg/arrow-back.svg");
    left: 4px;

    @include vp-767 {
      left: 1px;
    }
  }

  &--next {
    background-image: url("../img/svg/arrow-next.svg");
    right: 4px;

    @include vp-767 {
      right: 1px;
    }
  }

  &:hover {
    transform: scale(1.5);
  }

  &:disabled {
    &:hover {
      transform: none;
      cursor: auto;
    }
  }
}
