.trainers {
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @include vp-1279 {
    margin: 0 $desktop-margin-asade;
  }

  @include vp-1023 {
    padding-bottom: 100px;
    margin: 0 $tablet-margin-asade;
  }

  @include vp-767 {
    padding-bottom: 70px;
    margin: 0 $mobile-margin-asade;
  }

  h2 {
    font-family: $ff-bebas-neue;
    font-weight: 700;
    font-size: 49px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-align: left;
    margin: 0;

    @include vp-1023 {
      font-size: 42px;
    }

    @include vp-767 {
      font-size: 32px;
    }
  }
}

.trainers__wrapper {
  width: $desktop-content;
  margin: 0;

  @include vp-1279 {
    width: auto;
  }
}

.trainers__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin-top: 62px;

  @include vp-1279 {
    gap: 20px;
  }

  @include vp-1023 {
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    margin-top: 50px;
  }

  @include vp-767 {
    display: block;
  }
}

.trainers__item {
  width: 260px;
  height: 294px;
  position: relative;

  @include vp-1279 {
    width: auto;
  }

  @include vp-1023 {
    width: 268px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }

  &:hover {
    .trainers__trainer-information {
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      padding: 58px;
      background-color: rgba(16, 38, 84, 0.89);

      @include vp-767 {
        padding: 48px;
      }
    }
  }

  h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: $color-default-white;
    margin: 0;
  }
}

.trainers__trainer-preview {
  width: 100%;
  height: 100%;
  h3 {
    position: absolute;
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 20px;
    bottom: 0;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include vp-1279 {
      object-fit: cover;
    }
  }
}

.trainers__trainer-information {
  display: none;
  z-index: 100;

  p {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    color: $color-spindle-grey;
  }

  ul {
    margin: 0;
    padding: 0;
    margin-top: 45px;
    list-style: none;
  }

  li {
    font-size: 14px;
    line-height: 150%;
    margin-top: 24px;
    position: relative;
    color: $color-default-white;

    &:first-of-type {
      margin-top: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $color-default-white;
      left: -16px;
      top: 7px;
    }
  }
}

.trainers__button {
  background-color: transparent;
  border: none;
  width: 16px;
  height: 32px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 90px;

  @include vp-767 {
    width: 10px;
    height: 19px;

  }

  &--back {
    background-image: url("../img/svg/arrow-back.svg");
    margin-right: 40px;

    @include vp-1279 {
      margin-right: 20px;
    }

    @include vp-1023 {
      margin-right: 40px;
    }

    @include vp-767 {
      margin-right: 22px;
    }
  }

  &--next {
    background-image: url("../img/svg/arrow-next.svg");
    margin-left: 40px;

    @include vp-1279 {
      margin-left: 20px;
    }

    @include vp-1023 {
      margin-left: 40px;
    }

    @include vp-767 {
      margin-left: 22px;
    }
  }

  &:hover {
    opacity: 0.7;
    transform: scale(1.5);
  }
}
