.trainers {
  padding-bottom: 120px;
  margin: 0 auto;

  @include vp-1199 {
    padding-bottom: 100px;
    margin: 0 $tablet-margin-asade;
  }

  @include vp-767 {
    padding-bottom: 70px;
    margin: 0 $mobile-margin-asade;
  }

  h2 {
    font-family: $ff-bebas-neue;
    font-weight: 700;
    font-size: 49px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-align: left;
    width: $desktop-content;
    margin: 0 auto;

    @include vp-1199 {
      width: auto;
      font-size: 42px;
      text-align: center;
    }

    @include vp-767 {
      font-size: 32px;
    }
  }
}

.trainers__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  @include vp-1199 {
    margin-top: 41px;
  }
}

.trainers__list-wrapper {
  width: $desktop-content;
  margin: 0 40px;
  position: relative;

  @include vp-1349 {
    width: 1085px;
    margin: 0 25px;
  }

  @include vp-1199 {
    width: 566px;
    margin: 0 40px;
  }

  @include vp-767 {
    width: 226px;
    margin: 0 22px;
  }
}

.trainers__list {
  margin: 0;
}

.trainers__item {
  width: 260px;
  height: 294px;
  position: relative;

  @include vp-1199 {
    width: 268px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }

  &:hover,
  &:active {
    .trainers__trainer-preview {
      h3 {
        display: none;
      }
    }

    .trainers__trainer-information {
      display: block;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: $color-default-white;
    margin: 0;
    text-align: center;
  }
}

.trainers__trainer-preview {
  width: 100%;
  height: 100%;

  h3 {
    position: absolute;
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 27px 20px;
    bottom: 0;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include vp-1199 {
      object-fit: cover;
    }
  }
}

.trainers__trainer-information {
  display: none;
  z-index: 100;
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  padding: 57px 30px 30px 30px;
  background-color: rgba(16, 38, 84, 0.89);

  @include vp-767 {
    padding: 48px 15px 20px 15px;
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    color: $color-spindle-grey;
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
    padding-left: 40px;
    margin-top: 33px;
    list-style: none;

    @include vp-767 {
      padding-left: 35px;
    }
  }

  li {
    font-size: 14px;
    line-height: 150%;
    margin-top: 13px;
    position: relative;
    color: $color-default-white;

    &:first-of-type {
      margin-top: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $color-default-white;
      left: -16px;
      top: 7px;
    }
  }
}

.trainers__button {
  background-color: transparent;
  border: none;
  width: 17px;
  height: 34px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }

  &:disabled {
    &:hover {
      transform: none;
      cursor: auto;
    }
  }

  &--back {
    background-image: url("../img/svg/arrow-back.svg");
  }

  &--next {
    background-image: url("../img/svg/arrow-next.svg");
  }

  &:hover {
    transform: scale(1.5);
  }
}
